@import url("http://fonts.googleapis.com/css?family=Open\+Sans");
body {
  background-color: #fff;
  background: url("stripe.png");
  color: #242424;
  font-family: 'Open Sans', sans-serif;
}
@font-face {
  font-family: 'rouble';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/rouble-webfont.woff") format('woff'), url("../fonts/rouble-webfont.ttf") format('truetype');
}
.rouble {
  font-family: 'rouble';
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 2em;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.thumbnail h6 p {
  color: #333;
}
.container > a {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cart-icon-remove {
  margin-right: 3px;
  margin-top: -20px;
}
.spinner {
  width: 100px;
}
.count {
  font-size: 3em;
  font-weight: bold;
  vertical-align: baseline;
  width: 30px;
  border: none;
  text-align: center;
}
.categories {
  text-align: center;
  list-style: outside none none;
  padding-bottom: calc(364 * (100% / 1160));
  position: relative;
}
.categories li {
  overflow: hidden;
  display: inline-block;
}
.categories .small {
  width: calc(20% - 13px);
}
.categories .average {
  width: calc(40% - 13px);
}
.categories .big {
  width: calc(60% - 13px);
}
