extends ../layout/layout
block content
  a(href="#").thumbnail
    img(src="/img/style/930x160.png", alt="")
  hr
  h4 Featured
  ul.thumbnails
      each product in featured
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            img(src="http://placehold.it/210x160", alt="")
            h6 #{product.name}
              p.pull-right #{product.cost}
                  span.rouble i
block scripts
  
  