//
   Created by anton_gorshenin on 22.01.2015.
extends layout
block constructorTopButton
    li
        a.elemControl(href='#') Add Element
    li
        a.elemControl(href='#') Remove Element
    li
        a.elemControl(href='#') Save Changes
    li
        a.elemControl(href='#') Cancel Changes
block constructorContent
    include ../main/home
