doctype html
html(lang="en")
  head
    title #{store} | #{title}
    link(href="/stylesheet/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheet/main.css", rel="stylesheet")
  body
    .modal.hide.fade#modal
    .navbar-inverse.navbar-static-top.navbar
          .container
            ul.nav
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/contact") Contact
              if (!locals.logged)
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/register") Register
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/login") Login 
              else
                li
                  a(href="/account/home") Account
                li       
                  a(href="/account/logout") Logout
    .container
      .main
        block content
      hr
    script(src="http://code.jquery.com/jquery.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/plugins/jquery.validate.min.js", type="text/javascript")
    script(src="/js/controller/main.js")
    script(src="/js/plugins/packery.pkgd.min.js")
    script(src="/js/plugins/draggabilly.pkgd.min.js")
    script(src="/js/plugins/packery.js")
    block scripts