extends layout
block content2
    section.container.admin-login
          form(action="/account/login", method="post").form-horizontal
            fieldset
                br
                .control-group
                    .control-group
                        label.control-label(for="email") Email
                        .controls
                            input(type="text", name="email", placeholder="Email Address")
                .control-group
                    .control-group
                        label.control-label(for="password") Password
                        .controls
                            input(type="password", name="password", placeholder="Password")
          .admin-login-btn
              a.btn(href="/") Close
              a.btn.btn-primary(onclick="$('.admin-login > form').submit();") Log In