doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        title FIShop - Admin
        // Bootstrap core CSS
        link(href='/stylesheet/bootstrap.css', rel='stylesheet')
        // external css
        link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='/stylesheet/zabuto_calendar.css')
        link(rel='stylesheet', type='text/css', href='/js/gritter/css/jquery.gritter.css')
        link(rel='stylesheet', type='text/css', href='/lineicons/style.css')
        // Custom styles for this template
        link(href='/stylesheet/style.css', rel='stylesheet')
        link(href='/stylesheet/style-responsive.css', rel='stylesheet')

block content2
    section.container.admin-login
          form(action="/account/login", method="post").form-horizontal
            fieldset
                br
                .control-group
                    .control-group
                        label.control-label(for="email") Email
                        .controls
                            input(type="text", name="email", placeholder="Email Address")
                .control-group
                    .control-group
                        label.control-label(for="password") Password
                        .controls
                            input(type="password", name="password", placeholder="Password")
          .admin-login-btn
              a.btn(href="/") Close
              a.btn.btn-primary(onclick="$('.admin-login > form').submit();") Log In

script(src='/js/jquery.js')
    script(src='/js/jquery-1.8.3.min.js')
    script(src='/js/bootstrap.min.js')
