extends layout
block content
 .users-wrapper
    form
        span User
            ul
               li
                 a(href="/") Add user
               li
                 a(href="/") Add usergroup
               li
                 a(href="/") Remove user
               li
                 a(href="/") Remove usergroup
            each user in users
                ul
                     li #{user.email}

